{% extends 'teacherRecordApp/index.html' %}


{% block title %}
School Details
{% endblock title %}

{% block header %}
School Details list
<br>
<a href="{% url 'index' %}">Return</a>
{% endblock header %}

{% block content %}
<table border="1">
    <tr>
        <th>Teacher</th>
        <th>School</th>
        <th>Hours</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
{% for eachEntry in school%}
<tr>
    <td>Teacher: {{eachEntry.teacherName}}</td>
    <td>School: {{eachEntry.school}}</td>
    <td>Hours:{{eachEntry.hours}}</td>
    <td><a href="{% url 'updateDetails' classRecord.id %}">Update</a></td>
    <td><a href="{% url 'deleteEntry' classRecord.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock content %}